ul.tag-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li.tag-list__item {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 10px 5px;
}

.tag-list__link {
  font-size: 12px;
  line-height: 13px;
  padding: 10px 0px;
  color: #000000;
  text-decoration: none;
  background-color: #E8E8E8;
  border-radius: 10px;
  font-weight: 500;
  width: 97px;
}

a.tag-list__link:hover {
  background-color: #2BE080;
}

ul.tag-list--technology {
  max-width: 200px;
  justify-content: flex-start;
}

li.tag-list__item--technology {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 5px 5px;
}

.tag-list__link--technology {
  font-size: 14px;
  font-weight: normal;
  padding: 20px;
  border-radius: 10px;
  width: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 333px) {

  ul.tag-list--technology {
    max-width: 100%;
  }

  li.tag-list__item {
    margin: 10px 5px;
  }
}