.arrow-top {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 30%;
  position: fixed;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
  /* opacity: 0; */
  transform: translateY(20px);
}

.arrow-top__visible {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.arrow-top::after{
  content: ' ';
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(../../images/arrow-top.svg);
  background-repeat: no-repeat;
  background-position: center 3px;
  transform: rotate(-90deg);
}