/* ---------------------page------------------------ */
.page {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  min-width: 300px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
}

/* -----------------section------------------------ */
.section {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.section__header {
  border-bottom: 1px solid #000000;
  padding-bottom: 25px;
}

.section__title {
  font-style: normal;
  font-weight: 400;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
}

.section_about,
.section_technology {
  padding-left: 20px;
  padding-right: 20px;
}

.section_student {
  padding-left: 15px;
  padding-right: 15px;
}



@media screen and (min-width: 480px) {

  .section__header {
    padding-bottom: 23px;
  }

  .section__title {
    font-size: 22px;
    line-height: 27px;
  }

  .section_about,
  .section_technology,
  .section_student {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media screen and (min-width: 768px) {
  .section_about {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section_technology {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section_student {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .section_about {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section_technology {
    padding-left: 70px;
    padding-right: 70px;
  }

  .section_student {
    padding-left: 30px;
    padding-right: 30px;
  }
}